<ul>
	{{#each suggestion in suggestions}}
		<li>
		{{#link-to 'article' suggestion.title action='collapseSideNav'}}
			{{suggestion.title}}
		{{/link-to}}
		</li>
	{{else}}
	{{#if showEmptyMessage}}
		<li><span>{{view.T-search-no-results-msg}}</span></li>
	{{/if}}
	{{#if isLoadingSearchResults}}
		<li><span>{{view.T-search-loading-msg}}</span></li>
	{{/if}}
	{{/each}}
</ul>
