$border-color: #d0d0d0;

.category-pages {
	border-bottom: 1px solid $border-color;
	border-top: 1px solid $border-color;

	.search-container {
		line-height: 3.5;
		text-align: center;

		input {
			line-height: 2;
			width: 80%;
		}
	}

	ul {
		margin: 0;
		padding: 0;

		a {
			border-top: 1px solid $border-color;
			color: #000;
			display: block;
			overflow: hidden;
			padding: 10px;
			padding-left: rem-calc(20);
			padding-right: rem-calc(40);
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

.loadMore {
	line-height: 3;
	padding-left: rem-calc(20);
	width: 100%;
}


