.smart-banner-visible {
	.headroom-top {
		position: absolute;
	}

	&.system-android {
		.headroom-top {
			top: $smart-banner-android-height;
		}
	}

	&.system-ios {
		.headroom-top {
			top: $smart-banner-ios-height;
		}
	}
}

.headroom-not-top {
	transition: transform .5s;

	&.pinned {
		transform: none;
	}

	&.un-pinned {
		transform: translateY(-100%);
	}
}

.side-nav-toggle {
	@extend .touch-active;
	@extend %pointer;
	display: inline-block;
	float: left;
	height: $icon-site-head-height;
	padding-top: rem-calc(15);
	width: $icon-site-head-width;

	svg {
		display: block;
		margin: auto;
	}
}
