body {
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	word-wrap: break-word;
}

.preload {
	.page-wrapper {
		margin-top: 99px;
	}

	svg {
		display: none;

		&.wikia-logo {
			display: inline;
		}
	}
}

a {
	text-decoration: none;
	color: #006cb0;
}

.wiki-title {
	font-size: 0.8125rem;
	margin: 0 0 1.25rem 0;

	a {
		color: #006cb0;
		display: block;
	}
}

.wiki-title, .article-title {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.site-head {
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid #d0d0d0;
	height: 3.125rem;
	left: 0;
	margin: 0 auto;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
}

.wikia-logo {
	height: 3.125rem;
	width: 5rem;
}