.preload .page-wrapper {
	margin-top: 149px;
}

.site-head {
	border-bottom: 1px solid $color-gray-light;
	height: rem-calc(50);
	left: 0;
	margin: 0 auto;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
}

.icon.wikia-logo {
	height: rem-calc(50);
	width: rem-calc(80);
}
