.article-body {

	padding: 0 1.125rem;
}

body {
  margin: 0;
  word-wrap: break-word;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.preload .page-wrapper {
	margin-top: 99px;
}

.preload svg {
	display: none;
}

.preload svg.wikia-logo {
	display: inline;
}

a {
	text-decoration: none;
	color: #006cb0;
}

.wiki-title {
  margin: 0;

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8125rem;
  margin-bottom: 1.25rem;

	a {
		color: #006cb0;
		display: block;
	}
}

.site-head {
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid #d0d0d0;
	height: 3.125rem;
	left: 0;
	margin: 0 auto;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
}

.icon.wikia-logo {
	height: 3.125rem;
	width: 5rem;
}
