.article-title {
	margin: 0;

  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
	line-height: 2rem;
	margin:{
		bottom: 1em;
		top: 3px;
	}
	word-break: break-word;
}

